<% content_for :title, "Minecraft PE Servers List" %>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Minecraft-PE-Servers.com Header -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9099839324683798"
           data-ad-slot="2743917264"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <% if @page == 0 %>
      <div class="panel panel-default">

          <div class="panel-body">
            <%= content_tag(:div, flash[:notice], :id => "flash_notice", :style => 'color: green') if flash[:notice] %>
            <h4>Welcome to the Best Minecraft Pocket Edition server list!</h4>
            <p>You can find the most popular Minecraft PE servers to play. Find game mods like Hunger Games, Survival, Creative, and more! Discover the best multiplayer servers for Minecraft PE!</p>
            <p>Minecraft Pocket Edition (MCPE) is the mobile verson of Minecraft developed by Mojang AB. it is available on Android, iOS, WIndows Phone, Windows 10, and Fire OS.</p>
          </div>

      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <form action="#" method="post">
      <div class="col-md-10 text-center">
        <div class="form-group">
          <input type="text" name="search" class="form-control input-lg" placeholder="Search for servers...">
        </div>
      </div>
      <div class="col-md-2 text-center">
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-lg btn-block">Search</button>
        </div>
      </div>
    </form>
  </div>


  <div class="row">
    <div class="col-md-12">
          <%= will_paginate :class => 'pagination pull-right', inner_window: 2, outer_window: 1, :renderer => BootstrapPagination::Rails %>
    </div>
  </div>
  <h2 class="page_header" style="font-size:30px; text-align:left">Minecraft PE Servers<% if @page == 0 %> <% else %>, page <%= (@page.to_i + 1) %><%end%></h2>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <table class="table table-striped server-table">
          <tr>
            <th>Rank</th>
            <th class="server-details">Server Details</th>
            <th class="text-center hidden-xs hidden-sm">Players</th>
            <th class="text-center hidden-xs hidden-sm">Votes</th>
            <th class="text-center hidden-xs hidden-sm">Status</th>
          </tr>
          <% rank = @page.to_i * 15 %>

          <% @servers.each do |s| %>
            <tr>
              <% rank = rank + 1 %>
              <td class="text-center"><%= rank %></td>
              <td>
                <a href="/server/<%= + s.id %>/">
                <% if s.banner.url != '/images/nobanner' %>
                   <%= image_tag(s.banner.url, :width => 468, :height => 60, :display => 'block') %>
                    <% else %>
                    <%= image_tag('/banners/nobanner.png', :width => 468, :height => 60, :display => 'block') %>
                <% end %>
                 </a>

                <br><br>
                <h4 class="no-margin-top server-title"><%= s.ip %>:<%= s.port %></h4>
                <p><%= simple_format(s.short_description) %><a href="/server/<%= + s.id %>/">Read more</a>
              </td>
              <td class="text-center hidden-xs hidden-sm"><%= s.players %>/<%=s.slots %></td>
              <td class="text-center hidden-xs hidden-sm"><%= s.votes %></td>
              <td><span class="label <%= s.status == 1 ? "label-success" : "label-danger" %>"><%= s.status == 1 ? "Online" : "Offline" %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= will_paginate :class => 'pagination pull-right', inner_window: 2, outer_window: 1, :renderer => BootstrapPagination::Rails %>
    </div>
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Minecraft-PE-Servers.com Bottom -->
  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9099839324683798"
       data-ad-slot="5418182064"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>