<% content_for :title, ((defined? @pretag) ? @pretag + " " : "") + "Minecraft PE Servers | Minecraft PE Server List" + (@page > 0 ? "- " + (@page + 1).to_s : "") %>
<% content_for :description, ((defined? @pretag) ? @pretag + " " : "") + "Minecraft PE Servers can be found on our Unique Minecraft PE Server List" + (@page > 0 ? "- page " + (@page + 1).to_s : "") %>
<% content_for :keywords, 'minecraft pe server list, mcpe,  minecraft pe server, minecraft pocket edition, minecraft pe multiplayer multiplayer, mcpe servers, minecraft pocket servers, mcpe server list, pocketmine, pocketmine mcpe servers'%>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-9099839324683798"
           data-ad-slot="2743917264"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <br><br>
      <% if @page == 0 %>
          <div class="panel panel-default">

            <div class="panel-body">
              <%= content_tag(:div, flash[:notice], :id => "flash_notice", :style => 'color: green') if flash[:notice] %>
              <h4>Welcome to the Best Minecraft Pocket Edition server list!</h4>
              <p>You can find the most popular Minecraft PE servers to play. Find game mods like Hunger Games, Survival, Creative, and more! Discover the best multiplayer servers for Minecraft PE!</p>
              <p>Minecraft Pocket Edition (MCPE) is the mobile verson of Minecraft developed by Mojang AB. it is available on Android, iOS, WIndows Phone, Windows 10, and Fire OS.</p>
            </div>

          </div>
      <% end %>
    </div>
  </div>

  <% if @page == 0 %>
      <div class="row">
        <%= bootstrap_form_for(self, as: 'server', url: '', html: { multipart: true } ) do |f| %>
            <div class="col-md-10 text-center">
              <div class="form-group">
                <input type="text" name="search" class="form-control input-lg" placeholder="Search for servers...">
              </div>

            </div>
            <div class="col-md-2 text-center">
              <div class="form-group">
                <button type="submit" class="btn btn-success btn-lg btn-block">Search</button>
              </div>
            </div>
        <% end %>
      </div>

  <% end %>


  <h1 class="page_header">Minecraft PE Server List<% if @page == 0 %> <% else %>, page <%= (@page.to_i + 1) %><%end%></h1>

  <div class="row" itemscope itemtype="http://schema.org/ItemList">
    <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending">
    <div class="col-md-12">
      <div class="panel panel-default">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th width="8%"><i class="fa fa-list-ol"></i> Rank</th>
            <th width="38%"><i class="fa fa-hdd-o"></i> Server</th>
            <th width="10%"><i class="fa fa-group"></i> Players</th>
            <th width="7%"><i class="fa fa-signal"></i> Uptime</th>
            <th width="19%"><i class="fa fa-tags"></i> Tags</th>
            <th width="6%">Votes</th>		</tr>
          </thead>
          <tbody>

          <% rank = @page.to_i * 15 %>
          <% @servers.each do | s | %>
              <div id = "server_row_i" <%= rank.to_s%> itemprop="itemListElement">
                <% rank = rank + 1 %>
                <tr height="90">
                  <td>
                    <strong>#<%= rank %></strong>
                  <td>
                    <div>
                      <% if s.banner.url != 'nobanner' && !s.banner.nil? %>
                          <a itemprop="url" href = '/server/<%= s.id%>'><%= image_tag s.banner.url, :class => 'server_image_actual', :title => s.name + ' Minecraft Server Listing', :alt => s.name + ' Minecraft Server Listing', :itemprop =>'image'%>
                          </a>
                      <% else %>
                          <% if !s.banner_old.nil? && s.banner_old != 'nobanner'%>
                              <a href = '/server/<%= s.id%>' itemprop="url"><%= image_tag 'https://cdn.minecraft-pe-servers.com/servers/banners/' + s.banner_old,  :class => 'server_image_actual' , :title => s.name + ' Minecraft Server Listing', :alt => s.name + ' Minecraft Server Listing', :itemprop =>'image' %></a>
                          <% else %>
                              <a itemprop="url" href = '/server/<%= s.id%>'>
                                <h4 itemprop="name" class="server_name_header"><%= s.name %>
                                </h4>
                              </a>
                          <% end %>
                      <% end %>
                    </div>

                    <div id="spacer" class="spacer">

                    </div>
                    &nbsp;&nbsp;<span class="badge <%= s.status == 1 ? 'badge-green' : 'badge-red'%>"><%= s.status == 1 ? 'Online' : 'Offline' %></span>&nbsp;<a href="/version/<%= s.version.gsub(' alpha', '').gsub(' beta', '').gsub('.', '_').gsub('v', '').gsub(' ', '_') %>" class="label label-info"><%= s.version %></a>&nbsp;<strong><%= s.ip %>:<%=s.port%></strong>
                  </td>
                  <td><%= s.players %>/<%= s.slots%></td>
                  <% uptime = ((s.pings_succeeded.to_f / s.pinged_count.to_f) * 100).to_i %>
                  <td><span class="badge <%= (uptime > 50 ? 'badge-green' : 'badge-red') %>"><%= uptime %>%</span></td>
                  <td>
                    <% s.tags.each do | t| %>
                        <a href="/servers/type/<%=t.tag.downcase %>" class="badge"><%= t.tag %></a>
                    <% end %></td>
                  <td><%= s.votes %></td>
                </tr>
              </div>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>


  <div id = 'pagination_block' class="align-text">
    <%= will_paginate :class => 'pagination', inner_window: 2, outer_window: 1, :renderer => BootstrapPagination::Rails %>
  </div>

  <ins class="adsbygoogle"
       style="display:block"
       data-ad-client="ca-pub-9099839324683798"
       data-ad-slot="5418182064"
       data-ad-format="auto"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>

  <script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "https://minecraft-pe-servers.com",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "https://minecraft-pe-servers.com/search/{search_term}/",
     "query-input": "required name=search_term"
   }
}
</script>


</div>
