<% content_for :title, "Register Server - Minecraft PE Server List" %>
<% content_for :description, 'Add a new server to Minecraft-PE-Servers.com, which will add it to the list.'%>
<% content_for :keywords, 'minecraft pe servers, add new mcpe server, advertise mcpe server, advertise minecraft pe server' %>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header align-text">Adding new server</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Adding server</div>
        <div class="panel-body">
          <%= bootstrap_form_for(@server, as: 'server', url: '', html: { multipart: true } ) do |f| %>
              <div class="field">
                <%= f.text_field :name, label: 'Server name', autofocus: true %>
              </div>

              <div class="field">
                <%= f.text_field :ip, label: 'Server ip' %>
              </div>

              <div class="field">
                <%= f.number_field :port, label: 'Port', value: 19132 %>
              </div>

              <div class="field">
                <%= f.file_field :banner, label: 'Upload Banner' %>
              </div>

              <div class="field">
                <%= f.text_field :short_description, label: 'Short Description' %>
              </div>

              <div class="field">
                <%= f.text_field :description, label: 'Description' %>
              </div>
              <div class="field">
                <%= f.select :tags, options_for_select(@tags), {}, {:multiple => true, :class => "selectpicker", 'data-live-search' => "true", :style => "width:450px;"}%>
              </div>
              <br>

              <div class="actions">
                <%= f.submit 'Submit Server', :class => 'btn btn-success btn-sm add-btn' %>
              </div>

          <% end %>

          <%= content_tag(:div, flash[:error], :id => "flash_error", :style => 'color: red') if flash[:error] %>
          <%= content_tag(:div, flash[:notice], :id => "flash_notice", :style => 'color: green') if flash[:notice] %>
          <%= content_tag(:div, flash[:alert], :id => "flash_alert", :style => 'color: red') if flash[:alert] %>

        </div>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
    $('.selectpicker').selectpicker('mobile');
  }

  $('.selectpicker').selectpicker({
    size: 4
  });

  $(document).ready(function () {
    $('.selectpicker').change(function () {

    });

    setTimeout(function() {
      <% @server.tags.each do |t| %>
      $('.selectpicker option[value="<%=t.tag.to_s%>"]').attr('selected','selected');
      <% end %>
      $('.selectpicker').selectpicker('refresh');
    }, 1000);
  });
</script>

