<% content_for :title, "Register Server - Minecraft PE Servers List" %>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header">Adding new server</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Adding server</div>
        <div class="panel-body">
          <%= bootstrap_form_for(@server, as: 'server', url: '', html: { multipart: true } ) do |f| %>
              <div class="field">
                <%= f.text_field :name, label: 'Server name', autofocus: true %>
              </div>

              <div class="field">
                <%= f.text_field :ip, label: 'Server ip' %>
              </div>

              <div class="field">
                <%= f.number_field :port, label: 'Port', value: 19132 %>
              </div>

              <div class="field">
                <%= f.file_field :banner, label: 'Upload Banner' %>
              </div>

              <div class="field">
                <%= f.text_field :short_description, label: 'Short Description' %>
              </div>

              <div class="field">
                <%= f.text_field :description, label: 'Description' %>
              </div>

              <div class="field">
              <label>Please select relevant tags below</label><br>
                <input type="checkbox" name="adventure" value="0"> Adventure
                <input type="checkbox" name="auth" value="0"> Auth
                <input type="checkbox" name="blockhunt" value="0"> Blockhunt
                <input type="checkbox" name="ctf" value="0"> Capture The Flag
                <input type="checkbox" name="car" value="0"> Cops And Robbers
                <input type="checkbox" name="creative" value="0"> Creative
                <input type="checkbox" name="economy" value="0"> Economy
                <input type="checkbox" name="factions" value="0"> Factions
                <input type="checkbox" name="guns" value="0"> Guns
                <input type="checkbox" name="hunger_games" value="0"> Hunger Games<br>
                <input type="checkbox" name="lobby" value="0"> Lobby
                <input type="checkbox" name="minigames" value="0"> Minigames
                <input type="checkbox" name="parkour" value="0"> Parkour
                <input type="checkbox" name="prison" value="0"> Prison
                <input type="checkbox" name="pve" value="0"> PVE
                <input type="checkbox" name="pvp" value="0"> PVP
                <input type="checkbox" name="quakecraft" value="0"> QuakeCraft
                <input type="checkbox" name="roleplay" value="0"> Roleplay
                <input type="checkbox" name="skyblock" value="0"> Skyblock
                <input type="checkbox" name="skywars" value="0"> Skywars
                <input type="checkbox" name="spleef" value="0"> Spleef
                <input type="checkbox" name="survival" value="0"> Survival
                <input type="checkbox" name="tnt" value="0"> TNT
              </div>
              <br>
              <div class="actions">
                <%= f.submit 'Submit Server', :class => 'btn btn-success btn-sm add-btn' %>
              </div>

          <% end %>

          <%= content_tag(:div, flash[:error], :id => "flash_error", :style => 'color: red') if flash[:error] %>
          <%= content_tag(:div, flash[:notice], :id => "flash_notice", :style => 'color: green') if flash[:notice] %>
          <%= content_tag(:div, flash[:alert], :id => "flash_alert", :style => 'color: red') if flash[:alert] %>

        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
   $("#chosen-select").chosen();
  });
</script>

