<% content_for :title, @server.name + " - Minecraft PE Servers List" %>
<%= disqus_init %>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">

          <%= content_tag(:div, flash[:notice], :id => "flash_notice", :style => 'color: green') if flash[:notice] %>
          <%= content_tag(:div, flash[:error], :id => "flash_error", :style => 'color: red') if flash[:error] %>


          <% if @server.banner.url != '/images/nobanner' %>
              <%= image_tag(@server.banner.url, :width => 468, :height => 60, :display => 'block') %>
          <% else %>
              <%= image_tag('/banners/nobanner.png', :width => 468, :height => 60, :display => 'block') %>
          <% end %><br>
          <hr>

          <div id="description">
            <p><%= @server.description %></p>
            PigRaid is a fun and innovative MCPE (Minecraft Pocket Edition) Server Full of Fun Gameplay for all! See our Website for Details!
          </div>
          <hr>
          <h3>
            <div style="text-align: center;">Vote for <%= @server.name %></div>
          </h3><br>
          <%= recaptcha_tags %><br><br>
          <div style="text-align: center;"><input type="submit" name="commit" value="Vote For Server" class="btn btn-success btn-sm add-btn"></div>
          <hr>
          <ul class="nav nav-tabs">
            <li class = "active"><a data-toggle="pill" href="#menu1" >Comments</a></li>

          </ul>

          <div class="tab-content">
            <div id="menu1" class="tab-pane fade in active">
              <%- disqus_thread %>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-server"></i> <%= @server.name %></div>
        <table class="table table-hover table-striped">
          <tr>
            <td colspan="2"><i class="fa fa-info-circle"></i><strong> Server Information</strong></td>
          </tr>
          <tr>
            <td><strong>Owner</strong></td>
            <td><%= @server.owner %></td>
          </tr>
          <tr>
            <td><strong>Status</strong></td>
            <td><span class="label <%= @server.status == 1 ? "label-success" : "label-danger" %>"><%= @server.status == 1 ? "Online" : "Offline" %></td>
          </tr>
          <tr>
            <td><strong>IP</strong></td>
            <td><%= @server.ip %></td>
          </tr>
          <tr>
            <td><strong>Port</strong></td>
            <td><%= @server.port %></td>
          </tr>
          <% unless @server.website.nil? %>
              <tr>
                <td><strong>Website</strong></td>
                <td><%= link_to @server.website, 'http://' + @server.website, :rel => 'nofollow' %></td>
              </tr>
          <% end %>
          <% unless @server.last_pinged.nil? %>
              <tr>
                <td><strong>Last Pinged</strong></td>
                <td><%= time_ago_in_words(Time.now.ago(Time.now.to_i - @server.last_pinged.to_i)) %> ago</td>
              </tr>
          <% end %>
          <tr>
            <td colspan="2"><i class="fa fa-bar-chart-o"></i><strong> Server Statistics</strong></td>
          </tr>
          <tr>
            <td><strong>Players</strong></td>
            <td><%= @server.players %>/<%= @server.slots %></td>
          </tr>
          <tr>
            <td><strong>Votes</strong></td>
            <td><%= @server.votes %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>



</div>
