<% content_for :title, "My Servers - Minecraft PE Server List" %>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header align-text">Minecraft PE Servers</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default" style="min-height:400px">
        <div class="panel-heading">
          My Servers
          <div class="pull-right">
            <a href="/server/new" class="btn btn-success btn-sm add-btn"><i class="fa fa-plus-circle"></i> Add Server</a>
            <a href="/users/edit" class="btn btn-success btn-sm add-btn"><i class="fa fa-lock"></i> Change Password</a>
          </div>
        </div>
        <table class="table table-striped">
          <tr>
            <th class="text-center">Rank</th>
            <th class="server-details">Server Name</th>
            <th class="server-details">Server</th>
            <th class="text-center">Players</th>
            <th class="text-center">API Key</th>
            <th class="text-center">Download VRC</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Remove</th>
          </tr>
          <% @servers.each do |s| %>
              <tr>
                <td class="text-center"><%= s.id %></td>
                <td><h4 class="no-margin"><%= s.name %></h4></td>
                <td><h4 class="no-margin"><%= s.ip %>:<%=s.port%></h4></td>
                <td class="text-center"><%= s.players %></td>
                <td class="text-center"><%= s.api_key %></td>
                <td class="text-center"><a href="/server/<%=s.id%>/vcr" target="_blank"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
                <td class="text-center"><a href="/server/<%=s.id%>/edit"><i class="fa fa-pencil-square-o fa-lg"></i></a></td>
                <td class="text-center"><a href="/server/<%=s.id%>/destroy"><i class="fa fa-times-circle fa-lg"></i></a></td>
              </tr>
          <% end %>
        </table>
        <% if @servers.count > 0 %>
          <div class="panel-footer text-right">
            <a href="/server/new" class="btn btn-success btn-sm add-btn"><i class="fa fa-plus-circle"></i> Add Server</a>
            <a href="/users/edit" class="btn btn-success btn-sm add-btn"><i class="fa fa-lock"></i> Change Password</a>
          </div>
        <% end %>

      </div>
    </div>
  </div>

</div>