<% content_for :title, "FAQ - Minecraft PE Server List" %>
<% content_for :description, 'The questions we frequently receive from our users on Minecraft-PE-Servers.com'%>
<% content_for :keywords, 'Minecraft pe servers frequently asked questions, faq, frequently asked questions, mcpe faq' %>

<div class="container">

  <div class="row">
    <div class="col-md-12 text-right">
      <h1 class="page_header align-text">Frequently asked questions</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">

          <h4><i class="fa fa-question-circle"></i> Frequently Asked Questions &amp; Answers</h4>
          <hr>
          <% @questions.each do |q| %>
                <% if q['id'] != 20 %>
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<%=q['id']%>" aria-expanded="false" aria-controls="collapseOne">
                        Q: <%= q['question'].gsub("application", "website").gsub("app", "website") %>
                      </a>
                    </h4>
                  </div>
                  <div id="collapse<%=q['id']%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                      <p><strong>Answer</strong>:<br>
                        <%= q['answer'].gsub("application", "website").gsub("app", "website") %></p>
                    </div>
                  </div>
                </div>
                  </div>
              <% end %>
            <% end %>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1337" aria-expanded="false" aria-controls="collapseOne">
                    Q: Where can I get the app?
                  </a>
                </h4>
              </div>
              <div id="collapse1337" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  <p><strong>Answer</strong>:<br>
                    Obtaining the app is simple, simply visit one of the links below for your respective platform.
                    <p><%= link_to image_tag('google-play.png') + '', 'https://play.google.com/store/apps/details?id=com.renualsoftware.minecraftpe.minecraftpeservers' %></p>
                    <p><%= link_to image_tag('apple-store.png') + '', 'https://itunes.apple.com/us/app/best-servers-for-minecraft/id1066395765?mt=8' %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>