<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 left-col">
        <p>
        <h3 class="footer-header sitemap">SITE MAP</h3>
        <ul>

          <li><a href="/">Browse MCPE Servers</a></li>
          <li><a href="/user/">Manage Servers</a></li>
          <li><a href="/">Search Servers</a></li>
          <li><a href="/faq">Help/FAQ</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        </p>
      </div>
      <div class="col-md-6 center-col">
        <%= image_tag('footer_mid.png') %>
        <p>&copy; RenualSoftware B.V. 2016</p>
        <p>Minecraft PE and associated Minecraft PE images are copyright of Mojang AB.<br>
          Minecraft PE Servers are not affiliated with Minecraft PE or Mojang AB.</p>
      </div>
      <div class="col-md-3 right-col">
        <h3 class="footer-header footer-links">MINECRAFT PE LINKS</h3>
        <p>
        <ul>
          <li><%= link_to 'Minecraft PE Website', 'https://www.minecraft.net' %></li>
          <li><%= link_to 'Minecraft PE Forums', 'https://www.minecraftforum.net' %></li>
          <li><%= link_to 'Minecraft PE Wiki', 'http://minecraftpocketedition.wikia.com/wiki/Minecraft_Pocket_Edition_Wiki' %></li>
        </ul>
        </p>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>By using this site, you agree with our <a href="/terms" class="gold-link">Terms of Service</a>
            and <a href="/privacy-policy" class="gold-link">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>


<%= javascript_include_tag('jquery-1.11.1.min.js')%>
<%= javascript_include_tag('bootstrap.js')%>