<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag('/img/sitemap.png') %>
        <p>
        <ul>
          <li><a href="#">Browse Servers</a></li>
          <li><a href="#">Manage Server</a></li>
          <li><a href="#">Search Servers</a></li>
          <li><a href="#">Help/FAQ</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
        </p>
      </div>
      <div class="col-md-6 center-col">
        <%= image_tag('/img/footer_mid.png') %>
        <p>&copy; RenualSoftware B.V. 2016</p>
        <p>Minecraft PE and associated Minecraft PE images are copyright of Mojang AB.<br>
          Minecraft PE Servers are not affiliated with Minecraft PE or Mojang AB.</p>
      </div>
      <div class="col-md-3 right-col">
        <%= image_tag('/img/pelinks.png') %>
        <p>
        <ul>
          <li><a href="#">Minecraft PE Website</a></li>
          <li><a href="#">Minecraft PE Forums</a></li>
          <li><a href="#">Minecraft PE Wiki</a></li>
        </ul>
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>By using this site, you agree with your <a href="/tos" class="gold-link">Terms of Service</a>
          and <a href="/privacy-policy" class="gold-link">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag('/js/jquery-1.11.1.min.js')%>
<%= javascript_include_tag('/js/bootstrap.js')%>
<%= javascript_include_tag('/js/custom.js')%>