
<nav class="navbar navbar-default primary-navbar">
  <% cache do %>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-nav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Minecraft PE Servers</a>
    </div>
    <% end %>
    <div class="collapse navbar-collapse" id="primary-nav">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <div class="fb-like fb-button" style="padding-top:15px; padding-bottom:15px" data-href="https://www.facebook.com/mcpelist" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        </li>
        <li><a href="/server/new"><i class="fa fa-plus-circle"></i> Add Server</a></li>
        <% if current_user.nil? %>
          <li><a href="/users/sign_in"><i class="fa fa-user"></i> Sign In</a></li>
            <li><a href="/users/sign_up"><i class="fa fa-plus-circle"></i> Need an Account? Register Now!</a></li>
            <% else %>
            <li><a href="/user"><i class="fa fa-user"></i> My Profile</a></li>

           <li><a href="/users/sign_out"><i class="fa fa-user"></i> Sign Out</a></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<% cache do %>
<nav class="seconday-nav">
  <div class="container">
    <div class="btn-group btn-group-justified">
      <%= link_to content_tag(:i, nil, class: "fa fa-info-circle") + ' My Servers', '/user', class: 'btn btn-link' %>
      <%= link_to content_tag(:i, nil, class: "fa fa-search") + ' Browse Servers', '/', class: 'btn btn-link' %>
      <%= link_to content_tag(:i, nil, class: "fa fa-question-circle") + ' F.A.Q.', '/faq', class: 'btn btn-link' %>
      <%= link_to content_tag(:i, nil, class: "fa fa-info-circle") + ' About', '/about', class: 'btn btn-link' %>
      <%= link_to content_tag(:i, nil, class: "fa fa-info-circle") + ' Contact Us', '/contact', class: 'btn btn-link' %>
    </div>
  </div>
</nav>
<% end %>