<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title><%= yield(:title) %></title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="keywords" content="<%= yield(:keywords) %>">
  <meta name="author" content="RenualSoftware B.V.">
  <meta name="msvalidate.01" content="E9D505D5B296FA5BA36BD648F58FD26B" />
  <meta property="og:title" content="<%= yield(:title) %>" />
  <meta property="og:type" content="text/html" />
  <meta property="og:url" content="<%= request.url %>"/>
  <meta property="og:image" content="https://minecraft-pe-servers.com/favicon.ico" />


  <script type="application/ld+json">
	 {
	 "@context" : "http://schema.org",
	 "@type" : "Organization",
	 "name" : "Minecraft PE Server List",
	 "url" : "https://minecraft-pe-servers.com/",
	 "logo": "http://www.minecraft-servers-list.org/favicon.ico",
	 "sameAs" : [
	 "https://www.facebook.com/mcpelist/"
	 ],
	 "contactPoint" : [
    { "@type" : "ContactPoint",
      "telephone" : "+31208082996",
      "contactType" : "customer service",
	  "areaServed" : ["US", "NL", "UK"],
	  "availableLanguage" : ["English","Dutch"]
    }]
	 }
	</script>

  <%= stylesheet_link_tag 'application' %>

  <%= javascript_include_tag 'application' %>

  <link href="https://fonts.googleapis.com/css?family=Anton%7cMuli:300,400,400italic,300italic%7cOswald" rel="stylesheet" type="text/css">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1892783997615818";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <script src="https://apis.google.com/js/platform.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render('layouts/navigation') %>


  <div id="content">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>

<%= render('layouts/footer') %>


</body>
</html>


